#!/usr/bin/env bash
# Make Fish the default login shell.
set -euo pipefail

shell_location="/opt/homebrew/bin/fish"
if [ ! -f "$shell_location" ]; then
  shell_location="/usr/local/bin/fish"
fi

if ! grep -q "$shell_location" /etc/shells; then
  echo "$shell_location" | sudo tee -a /etc/shells
  chsh -s "$shell_location"
fi
